.custom-loader {
    width: 25px;
    height: 25px;
    display: grid;
    border:2px solid #0000;
    border-radius: 50%;
    border-color:#000000 #0000;
    animation: s6 1s infinite linear;
  }
  .custom-loader::before,
  .custom-loader::after {    
    content:"";
    grid-area: 1/1;
    margin:1px;
    border:inherit;
    border-radius: 50%;
  }
  .custom-loader::before {
    border-color:#0AF446 #0000;
    animation:inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .custom-loader::after {
    margin:4px;
  }
  
  @keyframes s6 { 
    100%{transform: rotate(1turn)}
  }