@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Poppins:wght@200;400;600&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-weight: 100;
}


body {
	background-color:#f5f5f5;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}


.todo {
  display: flex;
  text-align: center;
  justify-content: center;
  
}

.titulo {
	color: black;
  	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  	font-size: 60px;
  	font-weight: 600;
	text-align: center;
	margin-top: 130px;
}

h4 {
    text-align: center;
    margin-top: 15px;
}


.form {
	min-width: 230px;;
	width: 100%;
	flex: 1;
	text-align: left;
	padding: 10px;
	padding-right: 35px;
    min-height: auto;
    
}


label {
  position: relative;
	color: rgb(0, 0, 0);
  font-weight: 400;
}


.form__input {
  position: inherit;
	width: 100%;
	padding: 15px;
	margin: 10px 0px;
	margin-bottom: 15px;
    color: rgb(0, 0, 0);
	border-style: none;
	background-color:rgb(248, 238, 226);
	text-align: left;
	justify-content: center;
    font-weight: 400;
    
}

#botones {
	display: flex;
	justify-content: space-evenly;
    transition: 2s;
}

svg {
  display: block;
  height: 70px;
  
}

.form button[type="submit"] {
	background-color: transparent;
    margin-top: 10px;
	margin-bottom: 15px;
	opacity: 50%;
    border: none;
    cursor: pointer;
    height: 100px;
    font-weight: 800;

}

.form button[type="reset"] {
	background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100px;
    margin-top: 10px;
	margin-bottom: 15px;
    font-weight: 800;
    text-align: center;
}

button[type="submit"]:active{
	background-color: rgb(248, 238, 226);
}

button[type="reset"]:active{
	background-color: rgb(248, 238, 226);
}

button:hover {
	background-color: #060625;
    border-radius: 10%;
}

/* ABAJO ES PARA LA FUNCIONALIDAD DE JAVA */


p {
	margin: auto;
	color: rgb(0, 0, 0);
	font-size: 15px;
	margin-top: -7px;
	margin-bottom: 20px;
	align-content: center;
	width: 70%;
	padding: 10px;
	border: 2px solid red;
	text-align: center;
    font-weight: 600;
}

.hidden {
	opacity: 0;;
}
.p-spinner {
    border: none;
    font-size: 20px;
    margin-left: 20px;
}

.spinner-container {
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: center;

}

.alertaBien {
	color: white;
	border: 3px solid black;
	padding: 20px;
	width: 80%;
	text-align: center;
	font-weight: bold;
	margin-top: -100px;
	margin-bottom: 20px;
	margin-left: 60px;
	background-color: #022a05;
	display: flex;
	justify-content: center;

}

/* ________________________LOADER__________________________________ */

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border:4px solid #0000;
  border-radius: 50%;
  border-color:#000000 #0000;
  animation: s6 1s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  margin:2px;
  border:inherit;
  border-radius: 50%;
}
.custom-loader::before {
  border-color:#00F416 #0000;
  animation:inherit; 
  animation-duration: .5s;
  animation-direction: reverse;
}
.custom-loader::after {
  margin:8px;
}

@keyframes s6 { 
  100%{transform: rotate(1turn)}
}

/* ______________________HEADER____________________________________ */

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menu  {
    z-index: 1;
    background-color:rgb(206, 234, 247);
    width: 100vw;
    padding: 20px 20px 30px 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
}

.menu .navbar ul li {
    float: left;
    position: relative;
    align-items: center;
}

.menu .navbar ul li a {
    display: block;
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}

#menu {
    display: none;
}

.menu-icono {
    width: 45px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    background-color:rgb(206, 234, 247);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px;
    background-color: blur(10px);
    z-index: 0.5;
    padding: 20px;
    min-width: 200px;
    text-align: center;
}

.botones-carrito {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 20px 0;
    align-items: center;
}

table {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgb(248, 238, 226);
}

th, tr, td {
    padding: 15px;
    justify-content: space-evenly;
}

th {
    padding: 15px;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
}

td {
    font-size: 18px;
}


.pagar-carrito {
    color: black;
    font-weight: 400;
    font-size: 20px;
}

#vaciar-carrito {
    
    padding: 5px 10px;
    color: rgb(168, 9, 9);
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
}

.pagar-carrito:hover {
    color: rgb(9, 172, 9);
    padding: 5px;
    box-shadow: 0 0 10px black;
    transition: 2s;
}


.esconder {
    display: none;
}

.nadaCarrito {
    text-align: center;
}

.borrar-curso {
    color: rgb(176, 29, 29);
    font-weight: bold;
    border: 3px solid transparent;
    padding: 0px 5.5px 0 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(241, 103, 103);
}

.borrar-curso:hover {
    box-shadow: 0 0 25px rgb(241, 103, 103);
    transition: 0.5s;
}
.borrar-curso:not(:hover){
    box-shadow: none;
    transition: 0.5s;
}

.menu .titulo .todo {
	flex: 1;
	flex-direction: column;
}

/* ____________________________FOOTER____________________________ */
.todo-footer {
    position: absolute;
    margin-bottom: -650px;
    bottom: 0;
    width: 100%;
}

.footer {
	width: 100%;
	padding: 20px;
    background-color: rgb(206, 234, 247);   
}

.footer-content {
    display: flex;
	text-align: center;
    justify-content: space-around;
    
}

.footer-content a {
    font-size: 15px;
    font-weight: 400;
}

.footer-content h3 {
    font-size: 20px;
    font-weight: 400;
}

/* ________________________MEDIA__________________________________ */

@media (max-width: 902px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 100%;
        background-color: rgb(206, 234, 247);
        display: none;
        
    }

    .menu .navbar ul li a {
        width: 100%;
        font-weight: 600;
    }


    #menu:checked ~ .navbar  {
        display: flex;
        justify-content: space-around;
        text-align: center;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        background-color: rgb(206, 234, 247);
        width: 100%;
       
    }

    .logo {
        display: none;
    }

    .submenu:hover #lista-carrito {
        max-width: 100%;
    }

    .header {
        min-height: 0vh;
        margin-bottom: -60px;
    }

    .header-content {
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img {
        display: none;
    }

    .header-txt {
        flex-basis: 100%;
        text-align: center;
    }
    
    .header-txt h3 {
        font-size: 50px;
    }



    .footer {
		display: flex;
		flex-direction: column;
        padding: 30px;
        top: 100%;
		bottom: 0;
        text-align: center;
    }

    .footer-content {
        text-align: center;
    }

}

/* __________________ ANIMACION DE LOS ICONOCS____________________ */

.cards-containers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-basis: calc(33.3% - 30px);
} 


.card-content h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 20px;
    color: black;
}

.card-content img {
    width: 100px;
    opacity: 100%;
}

.card {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 30px;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    backface-visibility: hidden;
}


.back { 
    display: flex;
    text-align: center;
    flex-direction: row;
    background-color: transparent;
    opacity: 0%;
    padding: 30px;
}


.back a {
    display: flex;
    font-size: 19px;
    font-weight: 500;
}

.texto-wsp {
    color: green;
}
.texto-ig {
    color: darkviolet;
}
.texto-email {
    color: black
}

.card:hover .front img { /* Es lo que tarda el icono en ir para la izq*/
    transition: 1s;
    transform: translate(-90px)
}

.card:hover .back {
    transition: 2s; /* Es lo q tarda en aparecer el texto*/
    opacity: 90%;
    color:black
}

.card:not(:hover) .front img {
    transition: 1s;
    transform: translate(0px)
}

.card:not(:hover) .back {
    transition: 0.5s;
    opacity: 0%;
}

.cerrar-form {
    padding: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    text-transform: uppercase;
}

.cerrar-form {
    color: rgb(176, 29, 29);
    font-weight: bold;
    padding: 0px 5.5px 0 5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(241, 103, 103);
    cursor: pointer;
}

.cerrar-form:hover {
    box-shadow: 0 4px 6px -2px rgba(241, 103, 103);
    background-color: transparent;
}

.cerrar-form:not(:hover){
    box-shadow: none;
}

.desplazar-iconoMail {
    transform: translateY(250px);
}


.flex-container {
    display: none;
    flex:1;
    align-items: center;
    text-align: center;
    background-color: rgb(206, 234, 247);
    margin: 40px 50px;
    justify-content: center;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 0 20px;
    border: 3px solid rgb(206, 234, 247);
    max-width: 600px;
    min-width: 300px;
}


.email-logo {
    height: 90px;
}


